.qa span {
  position: relative;
  top: 15px;
}

.qa {
  margin-top: 10px;
  border-radius: 10px;
}

.qa img {
  margin: 3px;
}

.loading {
  margin: 25px;
}

.question {
  margin-left: 50px;
  background: #82bc00;
  color: #FFF;
}

.answers {
  margin-right: 50px;
  background: lightgoldenrodyellow;
}
