<section class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <mat-card class="box-shadow mb-4 about-me">
          <mat-card-title>Epic Labs Machine Learning</mat-card-title>
          <mat-card-subtitle>Machine learning metadata enhancement detector demo</mat-card-subtitle>
          <mat-card-content>
            <div class="row">
              <div class="col-5">
                <app-metadata-url-box></app-metadata-url-box>
                <div class="row">
                  <div class="col-2"></div>
                    <div class="col-4">
                       <!--tag Cloud will be here-->
                    </div>
                    </div>
                  <div class="col-6"></div>
                </div>
              </div>
              <div class="col-7">
                <app-metadata-player *ngIf="youtubeURL" class="embed-responsive embed-responsive-16by9"></app-metadata-player>
              </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
