<!-- <section>
  <div class="jumbotron text-center">
    lasldaldsad
  </div>
</section> -->

<section class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <mat-card class="box-shadow mb-4 about-me">
          <mat-card-title>Epic Labs Machine Learning</mat-card-title>
          <mat-card-subtitle>Machine learning demos web interface</mat-card-subtitle>
          <mat-card-content>
            <div class="row">
              <div class="col-5">
                  <p>
                  This is a small website to show the power of our Epic Machine Learning solutions!
                    <br />
                    <br />
                    Please take a look and give us your feedback, we can customize every demo to meet your needs.
                  </p>
              </div>
              <div class="col-7">
                <img class="img-fluid" id="epic-logo" src="/assets/imgs/positive main logotype.png">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
