<section class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <mat-card class="box-shadow mb-4 about-me">
          <mat-card-title>Epic Labs Machine Learning</mat-card-title>
          <mat-card-subtitle>Machine learning smoker detector demo</mat-card-subtitle>
          <mat-card-content>
            <div class="row">
              <div class="col-5">
                <app-url-box></app-url-box>
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-4">
                    <img *ngIf="warning" id="image" src="http://localhost:6006/static/pictures/noSmoking.png" style="width:150px;height:125px; margin-top: 100px">
                  </div>
                  <div class="col-6"></div>
                </div>
              </div>
              <div class="col-7">
                  <app-player (warningExport)="exportWarning($event)" *ngIf="youtubeURL" [youtubeURL]="youtubeURL" class="embed-responsive embed-responsive-16by9"></app-player>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
