<section class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <mat-card class="box-shadow mb-4 about-me">
          <mat-card-title>Epic Labs Machine Learning</mat-card-title>
          <mat-card-subtitle>Machine learning contextual advertising demo</mat-card-subtitle>
          <mat-card-content>
            <app-contextual-url-box></app-contextual-url-box>
            <mat-spinner *ngIf="!youtubeURL == started"></mat-spinner>
          </mat-card-content>
        </mat-card>
        <mat-card *ngIf="finished" class="box-shadow mb-4 about-me">
          <mat-card-title>Summary of the video:</mat-card-title>
          <mat-card-content>
            <!--<app-summary></app-summary>-->
          </mat-card-content>
        </mat-card>
        <mat-card class="box-shadow mb-4 about-me" *ngIf="youtubeURL">
          <mat-card-content>
            <app-contextual-player (bannerExport)="exportBanner($event)" (dataExport)="exportCloud($event)" (finishedExport)="exportFinished($event)" (startedExport)="exportStarted($event)" [youtubeURL]="youtubeURL" class="embed-responsive embed-responsive-16by9"></app-contextual-player>
            <div class="row">
              <div class="col-3" *ngFor="let ad of banner">
                <app-ad-banner *ngIf="ad.image" [setImage]="ad.image" [setPrice]="ad.price" [setUrl]="ad.url"></app-ad-banner>
              </div>
            </div>
            <app-angular-tag-cloud [data]="cloudData" [height]=400 [width]=1000></app-angular-tag-cloud>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
