<section class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <mat-card class="box-shadow mb-4 about-me">
          <mat-card-title>Epic Labs Machine Learning</mat-card-title>
          <mat-card-subtitle>Machine learning contextual advertising demo</mat-card-subtitle>
          <mat-card-content>
            <app-contextual-url-box></app-contextual-url-box>
            <mat-spinner></mat-spinner>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
